@import "style/top-header.scss";
@import "style/nav-header.scss";
@import "style/banner-header.scss";


.icon {
	padding: 0;
}
.icon-header {
	display: flex;
	align-items: center;
	font-family: 'RobotoR';
	color: #fff;
	text-decoration: none;
	font-size: 22px;
}
.icon .icon-header:first-child:after {
	content: '';
	width: 41px;
	height: 25px;
	background-position: -5px -45px;
	display: inline-block;
	margin-left: 23px;
	padding-top: 20px;
}
.icon .icon-header:first-child {
	margin-right: 70px;
}
.icon .icon-header:last-child:after {
	content: '';
	width: 51px;
	height: 30px;
	background-position: -5px -5px;
	display: inline-block;
	margin-left: 23px;

}

